<mat-card class="mb-5">
    <mat-card-content>
        <h3 class="font-weight-bold">
            {{isInEditMode? "Update User":"Add User"}}
        </h3>
        <form [formGroup]="userForm" (ngSubmit)="onUsersubmit()">
            <div class="form-group">
                <label for="userName">User Name*</label>
                <input type="text" class="form-control" id="userName" formControlName="userName">
            </div>
            <div class="form-group">
                <label for="userRole">User Role*</label>
                <select type="text" class="form-control" id="userRole" formControlName="userRole">
                    <option value="Frontend Developer">Frontend Developer</option>
                    <option value="UI/UX Developer">UI/UX Developer</option>
                    <option value="Angular Developer">Angular Developer</option>
                    <option value="Team Lead">Team Lead</option>
                    <option value="Full Stack Developer">Full Stack Developer</option>
                    <option value="Team Lead">Team Lead</option>
                </select>
            </div>
            <div class="form-group">
                <label for="profileDescription">Profile Description*</label>
                <textarea type="text" class="form-control" row="1" id="profileDescription"
                    formControlName="profileDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="profileImage">Profile Image*</label>
                <input type="text" class="form-control" id="profileImage" formControlName="profileImage">
            </div>
          
            <div formArrayName="skills">
                <h4>Skills*</h4>
                <div class="row" *ngFor="let skill of skillsArr.controls; let i=index">
                    <div class="col-10">
                        <div class="form-group">
                            <input [id]="'skill'+i" [formControlName]="i" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-2">
                        <button
                        (click)="Onremove()"
                         type="button" class="btn btn-sm btn-outline-danger">Remove</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="mb-2" [disabled]="formControl['skills'].invalid" (click)="addskillcontrol()"
                            type="button" mat-raised-button color="primary">Add Skills</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="experienceYears">Experience Years*</label>
                <select type="text" class="form-control" id="experienceYears" formControlName="experienceYears">
                    <option value="1 to 2 years">1 to 2 years</option>
                    <option value="2 to 3 years">3 to 2 years</option>
                    <option value="3 to 5 years">3 to 5 years</option>
                    <option value="5 to 7 years">5 to 7 years</option>
                </select>
            </div>
            <div class="form-group">
                <label>Is Active*</label>
                <div>
                    <input type="radio" formControlName="isActive" [value]="true">
                    Active
                    <input type="radio" formControlName="isActive" [value]="false" class="ml-3">
                    Inactive
                </div>
            </div>
            <div formGroupName="address">
                <div class="row">
                    <div class="col-md-6">
                        <h2><Strong>Current Address*</Strong></h2>
                        <div formGroupName="current">
                            <div class="form-group">
                                <label for="c-country">country</label>
                                <input type="text" id="c-country" class="form-control" formControlName="country">
                            </div>
                            <div class="form-group">
                                <label for="c-city">city</label>
                                <input type="text" id="c-city" class="form-control" formControlName="city">
                            </div>
                            <div class="form-group">
                                <label for="c-state">state</label>
                                <input type="text" id="c-state" class="form-control" formControlName="state">
                            </div>

                            <div class="form-group">
                                <label for="c-zipcode">zipcode</label>
                                <input type="text" id="c-zipcode" class="form-control" formControlName="zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><Strong>Permanent Address*</Strong></h2>
                        <div formGroupName="permanent">
                            <div class="form-group">
                                <label for="p-country">country</label>
                                <input type="text" id="p-country" class="form-control" formControlName="country">
                            </div>
                            <div class="form-group">
                                <label for="p-city">city</label>
                                <input type="text" id="p-city" class="form-control" formControlName="city">
                            </div>
                            <div class="form-group">
                                <label for="p-state">state</label>
                                <input type="text" id="p-state" class="form-control" formControlName="state">
                            </div>

                            <div class="form-group">
                                <label for="p-zipcode">zipcode</label>
                                <input type="text" id="p-zipcode" class="form-control" formControlName="zipcode">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="isAddSame"></label>
                            <input type="checkbox" class="mr-2" formControlName="isAddSame" id="isAddSame">Current And
                            Permenent Address are Same.
                        </div>
                    </div>
                </div>
            </div>
            <div>
               <button 
               *ngIf="!isInEditMode"
               mat-raised-button color="primary" class="w-100">Add User</button>
               <button 
               *ngIf="isInEditMode"
               (click)="onUpdateuser()"
               mat-raised-button color="warn" class="w-100">Update User</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>