<div class="row">
  <div class="col-md-12" *ngIf="productId">
    <mat-card class="product-card w-100">
      <mat-card-content>
        <p>
          The Product is {{productObj.pname}} And It's Status is
          <strong>{{productObj.pstatus}}</strong>
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-between">
        <button [routerLink]="['/product',productObj.pid,'edit']" mat-raised-button color="primary">
          Edit
        </button>
        <button 
        routerLinkActive="active"
        (click)="onRemove()" mat-raised-button color="warn">
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>