
.custom-navbar {
  background-color: #1e3a8a; // Blue
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #fff;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active,
.custom-navbar .navbar-brand.active {
  color: #ffd700;
}