

.banner{
    height: 300px;
    position: relative;
    background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        figcaption{
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff;
        }
}
