
<mat-card class="mt-4">
    <mat-card-content>
        <div class="fair">
            <figure class="banner" [ngStyle]="{
               'background-image': 'linear-gradient(0deg, #000 10%, transparent), url(' + fairsObj.bannerUrl + ')'
            }">
                <figcaption>
                    <h1>{{fairsObj.fairName}}</h1>
                    <p class="m-0">Event Type: {{fairsObj.type}}</p>
                    <p class="m-0">Date: {{fairsObj.startDate* 1000 | date}}</p>
                </figcaption>
            </figure>
            <div class="p-4">
                <p [innerHTML]="fairsObj.candidateDescription"></p>
                <p [innerHTML]="fairsObj.schoolDescription"></p>
            </div>
        </div>
    </mat-card-content>
</mat-card>